<h1>Latest Readings</h1>

<p>This page shows the last 100 readings.  Turn on auto refresh to see the
newest readings.</p>

<% if params[:poll] %>
	<script>
		setInterval("window.location.reload(true)", parseInt(localStorage.timeInterval) || 3000);
	</script>
<% end %>
<% unless request.fullpath == '' %>
	<p>
	<% if params[:poll] %>
		<a id="live-poll" class="btn btn-danger active" href="<%= root_url %>readings/latest_readings"><%= t('Turn Off Auto Refresh') %></a>
	<% else %>
		<a id="live-poll" class="btn btn-success" href="<%= request.original_url %>?poll=true"><%= t('Turn On Auto Refresh') %></a>
	<% end %>
	</p>
<% end %>


<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
			<th>ID</th>
      <th>Time</th>
			<th>EPC</th>
      <th>Pen</th>
      <th>Cow Name</th>
      <th>Cow Position</th>
      <th>Antenna</th>
      <th>Antenna Attenuation </th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.id %></td>
        <td><%= reading.time %></td>
        <td><%= reading.tag_epc %></td>
        <td><%= reading.tag.nil? ? 'Unassigned': reading.tag.cow.pen %></td>
        <td><%= reading.tag.nil? ? 'Unassigned': reading.tag.cow.name %></td>
        <td><%= reading.tag.nil? ? 'Unassigned': reading.tag.position %></td>
        <td><%= reading.antenna %></td>
        <td><%= reading.antenna_attenuation %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
