<div class="well">
<%= form_for(@cow) do |f| %>
  <% if @cow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cow.errors.count, "error") %> prohibited this cow from being saved:</h2>

      <ul>
      <% @cow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pen %> <br>
    <% [1, 2].each do |pen| %> 
      <% checked = (@cow.pen == pen) %>
      <div class="radio-inline">
      <%= f.radio_button :pen, pen, checked: checked %>
      <%= pen %>
      </div>
    <% end %>
  </div>

  <div class="form-group">                                                          
    <%= label_tag(:date_in, "Date In:", class: "control-label") %>                  
    <%= datetime_select "from", "", default: @cow.date_in, class: "form-control"%>    
  </div>                                                                            
                                                                                    
  <div class="form-group">                                                          
    <%= label_tag(:date_out, "Date Out:", class: "control-label") %>                    
    <%= datetime_select "to", "", default: @cow.date_out %>                              
  </div>   

  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-primary form-control" %>
  </div>
<% end %>
</div>
