<h1>Comparison <%= @comparison.id %></h1>

<p>Filename: <%= @comparison.filename %></p>
<p>This comparison was performed on <%= @comparison.created_at %></p>

<p>Download: <%= link_to "CSV", :action => :show, format: "csv", :id => @comparison.id %></p>

<div class="flickr_pagination">                                                     
  <div class="page_info"><%= page_entries_info @seconds %></div>                  
</div>

<table class="table table-striped table-bordered table-condensed">
	<thead>
    <tr>
      <th>Cow Name</th>
      <th>Time</th>
      <th>Behavior (Video)</th>
      <th>Behavior (RFID)</th>
      <th>Tag Type</th>
      <th>Antenna Attenuation</th>
      <th>Antenna 0</th>
      <th>Antenna 1</th>
      <th>Antenna 2</th>
      <th>Antenna 3</th>
      <th>Tag Position</th>
      <th>Brush Spinning</th>
      <th>Energy Usage</th>
      <th>Bout1</th>
      <th>Bout2</th>
      <th>Bout3</th>
      <th>Bout4</th>
      <th>Bout5</th>
    </tr>
  </thead>
	<% @seconds.each do |second| %>
		<tr> 
			<td><%= second[0] %></td>
			<td><%= second[1].to_s(:db) %></td>
			<td><%= second[2] %></td>
			<td><%= second[3] %></td>
			<td><%= second[4] %></td>
			<td><%= second[5] %></td>
			<td><%= second[6] %></td>
			<td><%= second[7] %></td>
			<td><%= second[8] %></td>
			<td><%= second[9] %></td>
			<td><%= second[10] %></td>
			<td><%= second[11] %></td>
			<td><%= second[12] %></td>
      <td><%= second[13] %></td>
      <td><%= second[14] %></td>
      <td><%= second[15] %></td>
      <td><%= second[16] %></td>
      <td><%= second[17] %></td>
		</tr>
		</tr>
	<% end %>
</table>

<div class="flickr_pagination">                                                     
  <div class="page_info"><%= page_entries_info @seconds %></div>                  
  <%= will_paginate @seconds %>                                                  
</div>
