<h1>Dashboard</h1>

<h2>Heartbeats</h2>
                                                                                    
<table id="heartbeats" class="display compact" cellspacing="0">
  <thead>                                                                           
    <tr>                                                                            
      <th>Pen</th>                                                                  
      <th>Cow ID</th>                                                                   
      <th>Cow Name</th>                                                             
      <th>Time</th>
      <th>Tag EPC</th>
      <th>Antenna</th>
      <th>Antenna Attenuation</th>
      <th>Cow Position</th> 
			<th></th>
    </tr>                                                                           
  </thead>                                                                          
                                                                                    
  <tbody>                                                                           
    <% @heartbeats.each do |cow| %>
			<tr id="<%= cow.id %>">
				<td><%= cow.pen %></td>
				<td name="id"><%= cow.id %></td>
				<td><%= cow.name %></td>
				<td name="time"></td>
				<td name="tag_epc"><%= image_tag("ajax-loader.gif") %></td>
				<td name="antenna"><%= image_tag("ajax-loader.gif") %></td>
				<td name="antenna_attenuation"><%= image_tag("ajax-loader.gif") %></td>
				<td name="position"></td>
				<td><%= button_tag "Update", :onclick => "sendRequest(#{cow.id}, true, 'heartbeats')", class: "btn btn-primary" %></td>
			</tr>
    <% end %>                                                                       
  </tbody>                                                                          
</table>   



<h2>Latest Readings By Cow</h2>
                                                                                    
<table id="cows" class="display compact" cellspacing="0">
  <thead>                                                                           
    <tr>                                                                            
      <th>Pen</th>                                                                  
      <th>Cow ID</th>                                                                   
      <th>Cow Name</th>                                                             
      <th>Time</th>
      <th>Tag EPC</th>
      <th>Antenna</th>
      <th>Antenna Attenuation</th>
      <th>Cow Position</th> 
      <th>Update</th> 
    </tr>                                                                           
  </thead>                                                                          
                                                                                    
  <tbody>                                                                           
    <% @cows.each do |cow| %>
			<tr id="<%= cow.id %>">
				<td><%= cow.pen %></td>
				<td name="id"><%= cow.id %></td>
				<td><%= cow.name %></td>
				<td name="time"></td>
				<td name="tag_epc"><%= image_tag("ajax-loader.gif") %></td>
				<td name="antenna"><%= image_tag("ajax-loader.gif") %></td>
				<td name="antenna_attenuation"><%= image_tag("ajax-loader.gif") %></td>
				<td name="position"></td>
				<td><%= button_tag "Update", :onclick => "sendRequest(#{cow.id}, true, 'cows')", class: "btn btn-primary" %></td>
			</tr>
    <% end %>                                                                       
  </tbody>                                                                          
</table>   



<%= javascript_tag do %>
	function formatDate(date, type, full){
		if(type == "display"){
			if(date instanceof Date){ 
				var formattedDate = date.toISOString();
				formattedDate = formattedDate.substring(0, formattedDate.length - 5).replace("T"," ");
				return "<div class='date'>" + formattedDate + "<div>";
			} else {
				return '<%= image_tag("ajax-loader.gif") %>';
			}
		}
		return date;
	};

	$(document).ready(function() {
		var options = {
			paging: false,
			searching: false,
			order: [3, 'desc'],
			"aoColumnDefs": [
				{ 
					"aTargets": [3], 
					"bSearchable": false, 
					"sType": 'date',
					"mRender": function(date, type, full){ return formatDate(date, type, full); }
				}
    	]
		};
		$('#heartbeats').dataTable(options);
		$('#cows').dataTable(options);
	});
<% end %>


<%= javascript_tag do %>
	<% @heartbeats.each do |cow| %>
		sendRequest(<%= cow.id %>, false, 'heartbeats');
	<% end %>  
	<% @cows.each do |cow| %>
		sendRequest(<%= cow.id %>, false, 'cows');
	<% end %>  

	function sendRequest(cow_id, clicked, table_id){
		var names = ['time', 'tag_epc', 'antenna', 'antenna_attenuation'];
		names_length = names.length;
		if(clicked){
			//console.log("clicked, clicked, clicked!");
			for (var i = 0; i < names_length; i++){
				var content = '<%= image_tag("ajax-loader.gif") %>';
				var table = $('#' + table_id).dataTable();
				var row = $('tr#' + cow_id)[0];
				//console.log(cow_id);
				//console.log(content);
				$('tr#' + cow_id + ' td[name="' + names[i] + '"]').html(content)
				//table.fnUpdate(content, $('tr#' + cow_id)[0], i+3);
			};	
		}
		$.get("<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/welcome/get_latest_reading?id=" + cow_id, function(reading) { 	
			var table = $('#' + table_id).dataTable();
			for (var i = 0; i < names_length; i++){
				var content = reading[names[i]];	
				if(names[i].valueOf() == "time"){
					content = new Date(content);
				}
				table.fnUpdate(content, $('tr#' + cow_id)[0], i+3);
			};	
			table.fnDraw();
		});
	};

<% end %>


