<p id="notice"><%= notice %></p>

<p>
  <strong>Pen:</strong>
  <%= @heartbeat.pen %>
</p>

<p>
  <strong>Time:</strong>
  <%= @heartbeat.time %>
</p>

<%= link_to 'Edit', edit_heartbeat_path(@heartbeat) %> |
<%= link_to 'Back', heartbeats_path %>
