<h1>Tags</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>EPC</th>
      <th>Type</th>
			<th>Cow</th>
			<th>Position</th>
			<th>Date On</th>
			<th>Date Off</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.id %></td>
        <td><%= tag.epc %></td>
        <td><%= tag.tag_type %></td>
        <td><%= tag.cow.nil? ? "" : tag.cow.select_option %></td>
        <td><%= tag.position  %></td>
        <td><%= tag.date_on.to_s(:db) if !tag.date_on.nil? %></td>
        <td><%= tag.date_off.to_s(:db) if !tag.date_off.nil? %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
