<p id="notice"><%= notice %></p>

<h1>Tag</h1>

<table class="table table-striped table-bordered table-condensed">                  
  <tr>                                                                              
    <th>ID</th>                                                                     
    <td><%= @tag.id %></td>                                                     
  </tr>                                                                             
                                                                                    
  <tr>                                                                              
    <th>EPC</th>                                                                   
    <td><%= @tag.epc %></td>                                                   
  </tr>                                                                             
                                                                                    
  <tr>                                                                              
    <th>Type</th>                                                                
    <td><%= @tag.tag_type %></td>                                                
  </tr>                                                                             
                                                                                    
  <tr>                                                                              
    <th>Cow ID</th>                                                                
    <td><%= @tag.cow.select_option %></td>                                                
  </tr>                                                                             

  <tr>
    <th>Position</th>
    <td><%= @tag.position %></td>
  </tr>                                                                             

	<tr>
    <th>Date On</th>
    <td><%= @tag.date_on %></td>
  </tr> 

	<tr>
    <th>Date Off</th>
    <td><%= @tag.date_off %></td>
  </tr> 
</table>  

<h1>Tag Readings</h1>

<table class="table table-striped table-bordered table-condensed">                  
	<tr>
		<th>ID</th>
		<th>Time</th>
		<th>EPC</th>
		<th>Antenna</th>
		<th colspan="3">Actions</th>
	</tr>
	<% @readings.each do |reading| %>
		<tr>
			<td><%= reading.id %></td>
			<td><%= reading.time %></td>
			<td><%= reading.tag_epc %></td>
			<td><%= reading.antenna %></td>
 			<td><%= link_to 'Show', reading %></td>                                     
     	<td><%= link_to 'Edit', edit_reading_path(reading) %></td>                  
     	<td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<div class="apple_pagination">                                                      
  <div class="page_info"><%= page_entries_info @readings %></div>                   
  <%= will_paginate @readings %>                                                    
</div> 

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
