<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>
<%= javascript_tag do %>
//google.setOnLoadCallback(drawChart);
$(function() {
 drawChart<%= @cow.name %>();
});

function drawChart<%= @cow.name %>() {
	var container = document.getElementById('<%= @cow.name %>');
	var chart = new google.visualization.Timeline(container);
	var dataTable = new google.visualization.DataTable();
	dataTable.addColumn({ type: 'string', id: 'Animal' });
	//dataTable.addColumn({ type: 'string', id: 'Antenna' });
	dataTable.addColumn({ type: 'date', id: 'Start' });
	dataTable.addColumn({ type: 'date', id: 'End' });

	dataTable.addRows([
		<% @cow.intervals.each do |position, intervals| %>
			<% intervals.each do |interval| %>
				['<%= position %>', new Date('<%= interval[0].to_s(:db) %>'), new Date('<%= interval[1].to_s(:db) %>')],
			<%	end %>
		<% end %>
	]);

	chart.draw(dataTable);
}
<% end %>

<p>Download: <%= link_to "CSV", intervals_path(format: "csv", :max_gap_size => @max_gap_size, :from_date => @to_date, :to_date => @to_date, :antennas => @antennas) %></p>

<div class="well">
<%= form_tag("#{ENV["RAILS_RELATIVE_URL_ROOT"]}/intervals", method: "get", role: "form", style: "text-align: left") do %>
  <div class="form-group">                                                               
    <%= label_tag(:cow_id, "Cow: ", class: "control-label") %> 
    <% cows_array = Cow.all.map{ |cow| [cow.select_option, cow.id] } %>                      
   	<%= select_tag(:cow_id, options_for_select(cows_array, @cow.id ), class: "form-control") %>             
  </div>     

	<div class="form-group">
		<%= label_tag(:gap, "Max Gap Size:", class: "control-label") %>
		<%= number_field_tag 'gap', @max_gap_size, class: "form-control"%>
	</div>

	<div class="form-group">
		<%= label_tag(:from_date, "From Date:", class: "control-label") %>
		<%= datetime_select "from", "", default: @from_date %>
	</div>

	<div class="form-group">
		<%= label_tag(:to_date, "To Date:", class: "control-label") %>
		<%= datetime_select "to", "", default: @to_date %>
	</div>

  <div class="form-group">
		<%= label_tag(:antenna, "Antennas:", class: "control-label") %>
		<% [0,1,2,3].each do |antenna_id| %> 
			<div class="checkbox-inline">
				<%= check_box_tag 'antennas[]', antenna_id, (params["antennas"].nil? or params["antennas"].include?(antenna_id)) %>
				<%= antenna_id %>
			</div>
		<% end %>
  </div>

	<div class="form-group">
		<%= submit_tag("Update Data View", class: "btn btn-primary form-control") %>
	</div>
<% end %>
</div>

<div id="<%= @cow.name %>" style="width: 100%; height: 200px;"></div>


<div class="flickr_pagination">
	<div class="page_info"><%= page_entries_info @records %></div>                  
</div> 


<table class="table table-striped table-bordered table-condensed">
	<thead>
    <tr>
      <th>Cow Name</th>
      <th>Antennas</th>
      <th>Position</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Duration</th>
    </tr>
  </thead>
	<% @records.each do |record| %>
		<tr> 
			<td><%= record[0]%></td>
			<td><%= record[1] %></td>
			<td><%= record[2] %></td>
			<td><%= record[3][0].to_s(:db) %></td>
			<td><%= record[3][1].to_s(:db) %></td>
			<td><%= (record[3][1] - record[3][0]).to_s(:db) %></td>
		</tr>
	<% end %>
</table>

<div class="flickr_pagination">                                                     
  <div class="page_info"><%= page_entries_info @records %></div>                  
  <%= will_paginate @records %>                                                  
</div>
